<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PayloadContent</key>
        <array>
            <dict>
                <key>IPSec</key>
                <dict>
                    <key>OnDemandEnabled</key>
                    <integer>0</integer>
                    <key>PromptForVPNPIN</key>
                    <false/>
                </dict>
                <key>IPv4</key>
                <dict>
                    <key>OverridePrimary</key>
                    <integer>1</integer>
                </dict>
                <key>OnDemandEnabled</key>
                <integer>1</integer>
                <key>OnDemandUserOverrideDisabled</key>
                <integer>1</integer>
                <key>PayloadDescription</key>
                <string></string>
                <key>PayloadDisplayName</key>
                <string>VPN</string>
                <key>PayloadEnabled</key>
                <true/>
                <key>PayloadIdentifier</key>
                <string>0451BA54-2F79-4434-B1DB-929DEF67D638</string>
                <key>PayloadOrganization</key>
                <string>ESET</string>
                <key>PayloadType</key>
                <string>com.apple.vpn.managed</string>
                <key>PayloadUUID</key>
                <string>0451BA54-2F79-4434-B1DB-929DEF67D638</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>Proxies</key>
                <dict></dict>
                <key>UserDefinedName</key>
                <string>ESET Web Access</string>
                <key>VPN</key>
                <dict>
                    <key>AuthName</key>
                    <string></string>
                    <key>AuthenticationMethod</key>
                    <string>Certificate</string>
                    <key>ExcludeLocalNetworks</key>
                    <integer>0</integer>
                    <key>IncludeAllNetworks</key>
                    <integer>0</integer>
                    <key>OnDemandRules</key>
                    <array>
                        <dict>
                            <key>Action</key>
                            <string>Connect</string>
                        </dict>
                    </array>
                    <key>OnDemandUserOverrideDisabled</key>
                    <integer>1</integer>
                    <key>ProviderBundleIdentifier</key>
                    <string>com.eset.network</string>
                    <key>ProviderDesignatedRequirement</key>
                    <string>identifier &#34;com.eset.network&#34; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = P8DQRXPVLP</string>
                    <key>ProviderType</key>
                    <string>app-proxy</string>
                    <key>RemoteAddress</key>
                    <string>localhost</string>
                </dict>
                <key>VPNSubType</key>
                <string>com.eset.network.manager</string>
                <key>VPNType</key>
                <string>VPN</string>
                <key>VendorConfig</key>
                <dict></dict>
            </dict>
            <dict>
                <key>AllowUserOverrides</key>
                <true/>
                <key>AllowedSystemExtensions</key>
                <dict>
                    <key>P8DQRXPVLP</key>
                    <array>
                        <string>com.eset.endpoint</string>
                        <string>com.eset.network</string>
                        <string>com.eset.firewall</string>
                        <string>com.eset.devices</string>
                    </array>
                </dict>
                <key>PayloadDescription</key>
                <string></string>
                <key>PayloadDisplayName</key>
                <string>System Extensions</string>
                <key>PayloadEnabled</key>
                <true/>
                <key>PayloadIdentifier</key>
                <string>A19DF940-06D8-427B-A337-2C08A88CF9E1</string>
                <key>PayloadOrganization</key>
                <string>ESET</string>
                <key>PayloadType</key>
                <string>com.apple.system-extension-policy</string>
                <key>PayloadUUID</key>
                <string>A19DF940-06D8-427B-A337-2C08A88CF9E1</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>PayloadDescription</key>
                <string></string>
                <key>PayloadDisplayName</key>
                <string>Privacy Preferences Policy Control</string>
                <key>PayloadEnabled</key>
                <true/>
                <key>PayloadIdentifier</key>
                <string>7BBB2A88-B151-4AE6-AE71-148CB0801C1E</string>
                <key>PayloadOrganization</key>
                <string>ESET</string>
                <key>PayloadType</key>
                <string>com.apple.TCC.configuration-profile-policy</string>
                <key>PayloadUUID</key>
                <string>7BBB2A88-B151-4AE6-AE71-148CB0801C1E</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>Services</key>
                <dict>
                    <key>SystemPolicyAllFiles</key>
                    <array>
                        <dict>
                            <key>Allowed</key>
                            <true/>
                            <key>CodeRequirement</key>
                            <string>identifier &#34;com.eset.app.Uninstaller&#34; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = P8DQRXPVLP</string>
                            <key>Identifier</key>
                            <string>com.eset.Uninstaller</string>
                            <key>IdentifierType</key>
                            <string>bundleID</string>
                            <key>StaticCode</key>
                            <false/>
                        </dict>
                        <dict>
                            <key>Allowed</key>
                            <true/>
                            <key>CodeRequirement</key>
                            <string>identifier &#34;com.eset.endpoint&#34; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = P8DQRXPVLP</string>
                            <key>Identifier</key>
                            <string>com.eset.endpoint</string>
                            <key>IdentifierType</key>
                            <string>bundleID</string>
                            <key>StaticCode</key>
                            <false/>
                        </dict>
                        <dict>
                            <key>Allowed</key>
                            <true/>
                            <key>CodeRequirement</key>
                            <string>identifier &#34;com.eset.ees.g2&#34; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = P8DQRXPVLP</string>
                            <key>Identifier</key>
                            <string>com.eset.ees.g2</string>
                            <key>IdentifierType</key>
                            <string>bundleID</string>
                            <key>StaticCode</key>
                            <false/>
                        </dict>
                        <dict>
                            <key>Allowed</key>
                            <true/>
                            <key>CodeRequirement</key>
                            <string>identifier &#34;com.eset.network&#34; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = P8DQRXPVLP</string>
                            <key>Identifier</key>
                            <string>com.eset.network</string>
                            <key>IdentifierType</key>
                            <string>bundleID</string>
                            <key>StaticCode</key>
                            <false/>
                        </dict>
                        <dict>
                            <key>Allowed</key>
                            <true/>
                            <key>CodeRequirement</key>
                            <string>identifier &#34;com.eset.firewall&#34; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = P8DQRXPVLP</string>
                            <key>Identifier</key>
                            <string>com.eset.firewall</string>
                            <key>IdentifierType</key>
                            <string>bundleID</string>
                            <key>StaticCode</key>
                            <false/>
                        </dict>
                        <dict>
                            <key>Allowed</key>
                            <true/>
                            <key>CodeRequirement</key>
                            <string>identifier &#34;com.eset.remoteadministrator.agent&#34; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = P8DQRXPVLP</string>
                            <key>Identifier</key>
                            <string>com.eset.remoteadministrator.agent</string>
                            <key>IdentifierType</key>
                            <string>bundleID</string>
                            <key>StaticCode</key>
                            <false/>
                        </dict>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>FilterDataProviderBundleIdentifier</key>
                <string>com.eset.firewall</string>
                <key>FilterDataProviderDesignatedRequirement</key>
                <string>identifier &#34;com.eset.firewall&#34; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = P8DQRXPVLP</string>
                <key>FilterGrade</key>
                <string>firewall</string>
                <key>FilterPacketProviderBundleIdentifier</key>
                <string>com.eset.firewall</string>
                <key>FilterPacketProviderDesignatedRequirement</key>
                <string>identifier &#34;com.eset.firewall&#34; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = P8DQRXPVLP</string>
                <key>FilterPackets</key>
                <true/>
                <key>FilterSockets</key>
                <true/>
                <key>FilterType</key>
                <string>Plugin</string>
                <key>PayloadDisplayName</key>
                <string>Web Content Filter Payload</string>
                <key>PayloadIdentifier</key>
                <string>10BF9D5A-B3CA-43D8-96C4-96C8D1B7BB33</string>
                <key>PayloadOrganization</key>
                <string>ESET</string>
                <key>PayloadType</key>
                <string>com.apple.webcontent-filter</string>
                <key>PayloadUUID</key>
                <string>10BF9D5A-B3CA-43D8-96C4-96C8D1B7BB33</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>PluginBundleID</key>
                <string>com.eset.firewall.manager</string>
                <key>UserDefinedName</key>
                <string>ESET Network Access Protection</string>
            </dict>
            <dict>
                <key>PayloadDescription</key>
                <string>Force ESET background processes to remain active.</string>
                <key>PayloadDisplayName</key>
                <string>Background Task Management</string>
                <key>PayloadEnabled</key>
                <true/>
                <key>PayloadIdentifier</key>
                <string>C5B25B3F-0382-4E2F-A08D-75F941DF29C5</string>
                <key>PayloadOrganization</key>
                <string>ESET</string>
                <key>PayloadType</key>
                <string>com.apple.servicemanagement</string>
                <key>PayloadUUID</key>
                <string>C5B25B3F-0382-4E2F-A08D-75F941DF29C5</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
                <key>Rules</key>
                <array>
                    <dict>
                        <key>Comment</key>
                        <string>ESET Team ID</string>
                        <key>RuleType</key>
                        <string>TeamIdentifier</string>
                        <key>RuleValue</key>
                        <string>P8DQRXPVLP</string>
                    </dict>
                </array>
            </dict>
        </array>
        <key>PayloadDescription</key>
        <string>ESET Endpoint Security v8</string>
        <key>PayloadDisplayName</key>
        <string>ESET Endpoint Security v8</string>
        <key>PayloadEnabled</key>
        <true/>
        <key>PayloadIdentifier</key>
        <string>com.jumpcloud.mdm.custom-policy.197c80de-f6e6-5274-b462-6e8374134392</string>
        <key>PayloadOrganization</key>
        <string>ESET</string>
        <key>PayloadRemovalDisallowed</key>
        <true/>
        <key>PayloadScope</key>
        <string>System</string>
        <key>PayloadType</key>
        <string>Configuration</string>
        <key>PayloadUUID</key>
        <string>197c80de-f6e6-5274-b462-6e8374134392</string>
        <key>PayloadVersion</key>
        <integer>1</integer>
    </dict>
</plist>